<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section>
  <div class="page-header">
    <h1>{{vm.profession._id ? 'Edit Class' : 'New Class'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.professionForm" class="form-horizontal" ng-submit="vm.save(vm.form.professionForm.$valid)" novalidate>
      <fieldset>

        <div class="row">
          <div class="col-sm-5">
            <label class="control-label" for="vm.profession.name">Class Name</label>
            <input name="enabled"
                  type="text"
                  ng-model="vm.profession.name"
                  class="form-control"
                  required>
          </div>

          <div class="col-sm-offset-1 col-sm-2">
            <label class="control-label" for="vm.profession.hitDice">HD Type</label>
            <input type="number"
                   ng-model="vm.profession.hitDice"
                   class="form-control"
                   required>
         </div>
       </div>

        <div class="row">
          <div class="col-sm-10">
            <label class="control-label" for="vm.profession.description">Class Description</label>
            <textarea name="enabled" ng-model="vm.profession.description" class="form-control" required
              pleaceholder="Enter some information about this class (used in the Help Area for Character Creation)">
            </textarea>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <div class="dropdown" dropdown>
              <button type="button" class="btn btn-default" dropdown-toggle>
                Add Save Proficiency<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="save in vm.abilitySaves">
                    <a href ng-click="vm.addSaveProficiency(save)">{{save}}</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="dropdown" dropdown>
              <button type="button" class="btn btn-default" dropdown-toggle>
                Add Proficiency Option <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="skill in vm.skillsAvailable">
                    <a href ng-click="vm.addSkill(skill)">{{skill}}</a></li>
                </ul>
            </div>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10">
            <p><b>Save Proficiencies</b></p>
            <p><span class="proficiency-tag" ng-repeat="save in vm.profession.saveProficiencies">
              {{save}} <a href ng-click="vm.removeSaveProficiency(save)" class="fa fa-times-circle-o"></a>
            </span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p><b>Proficiency Options</b></p>
            <p><span class="proficiency-tag" ng-repeat="skill in vm.profession.skillProficiencies">
              {{skill}} <a href ng-click="vm.removeSkillProficiency(skill)" class="fa fa-times-circle-o"></a>
            </span></p>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="button" ui-sref="professions.list" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-success">{{vm.profession._id ? 'Update' : 'Create'}}</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
