<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section>
  <div class="page-header">
    <h1>{{vm.profession._id ? 'Edit Class' : 'New Class'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.professionForm" class="form-horizontal" ng-submit="vm.save(vm.form.professionForm.$valid)" novalidate>
      <fieldset>

        <div class="row">
          <div class="col-sm-5">
            <label class="control-label" for="vm.profession.name">Class Name</label>
            <input name="enabled"
                  type="text"
                  ng-model="vm.profession.name"
                  class="form-control"
                  required>
          </div>

          <div class="col-sm-offset-1 col-sm-2">
            <label class="control-label">Hit Die Type</label>
            <div class="dropdown" dropdown>
              <button type="button" class="btn btn-default" dropdown-toggle>
                d{{vm.profession.hitDice}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href ng-click="vm.profession.hitDice = 4">d4</a></li>
                  <li><a href ng-click="vm.profession.hitDice = 6">d6</a></li>
                  <li><a href ng-click="vm.profession.hitDice = 8">d8</a></li>
                  <li><a href ng-click="vm.profession.hitDice = 10">d10</a></li>
                  <li><a href ng-click="vm.profession.hitDice = 12">d12</a></li>
                </ul>
            </div>
         </div>

         <!-- Archetype Selection Level Requirement -->
         <div class="col-sm-2 text-center">
           <label class="control-label" tooltip="The level requirement for the player to be able to choose his archetype">Archetype Level</label>
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button"
                    ng-disabled="vm.profession.archetypeLevelRequirement === 1"
                    ng-click="vm.profession.archetypeLevelRequirement = vm.profession.archetypeLevelRequirement - 1"
                    class="btn btn-default" ><i class="fa fa-minus"></i></button>
              </span>
              <input type="number"
                    ng-model="vm.profession.archetypeLevelRequirement"
                    class="text-center att-entry form-control"></input>
              <span class="input-group-btn">
                <button type="button"
                    ng-disabled="vm.profession.archetypeLevelRequirement === 20"
                    ng-click="vm.profession.archetypeLevelRequirement = vm.profession.archetypeLevelRequirement + 1"
                    class="btn btn-default" ><i class="fa fa-plus"></i></button>
              </span>
            </div>
          </div>

        <!-- Number of Skill Proficiencies -->
         <div class="col-sm-2 text-center">
           <label class="control-label" tooltip="Number of skill proficiencies the player can choose at character creation">Skill Proficiencies</label>
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button"
                    ng-disabled="vm.profession.numSkillProficiencies === 0"
                    ng-click="vm.profession.numSkillProficiencies = vm.profession.numSkillProficiencies - 1"
                    class="btn btn-default" ><i class="fa fa-minus"></i></button>
              </span>
              <input type="number"
                    ng-model="vm.profession.numSkillProficiencies"
                    class="text-center att-entry form-control"></input>
              <span class="input-group-btn">
                <button type="button"
                    ng-click="vm.profession.numSkillProficiencies = vm.profession.numSkillProficiencies + 1"
                    class="btn btn-default" ><i class="fa fa-plus"></i></button>
              </span>
            </div>
          </div>
       </div>

        <div class="row">
          <div class="col-sm-12">
            <label class="control-label" for="vm.profession.description">Class Description</label>
            <textarea name="enabled" ng-model="vm.profession.description" class="form-control" required
              pleaceholder="Enter some information about this class (used in the Help Area for Character Creation)">
            </textarea>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-default" ng-click="vm.profession.archetypes.push({})">New Archetype</button>
            <span class="dropdown" dropdown>
              <button type="button" class="btn btn-default" dropdown-toggle>
                Add Save Proficiency<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="save in vm.abilitySaves">
                    <a href ng-click="vm.addSaveProficiency(save)">{{save}}</a>
                  </li>
                </ul>
            </span>
            <span class="dropdown" dropdown>
              <button type="button" class="btn btn-default" dropdown-toggle>
                Add Skill Proficiency Option <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="skill in vm.skillsAvailable">
                    <a href ng-click="vm.addSkill(skill)">{{skill}}</a></li>
                </ul>
            </span>
          </div>
        </div>

        <!-- Proficiencies -->
        <div class="row">
          <br>
          <div class="col-xs-10">
            <p><b>Save Proficiencies</b></p>
            <p><span class="proficiency-tag" ng-repeat="save in vm.profession.saveProficiencies">
              {{save}} <a href ng-click="vm.removeSaveProficiency(save)" class="fa fa-times-circle-o"></a>
            </span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p><b>Proficiency Options</b></p>
            <p><span class="proficiency-tag" ng-repeat="skill in vm.profession.skillProficiencies">
              {{skill}} <a href ng-click="vm.removeSkillProficiency(skill)" class="fa fa-times-circle-o"></a>
            </span></p>
          </div>
        </div>

        <div class="row">
          <h3>Archetypes</h3>
          <div ng-repeat="archetype in vm.profession.archetypes"
              class="col-sm-12 well"
              ng-init="archetypeVisible[$index] = true"
              ng-include="'modules/professions/client/views/archetype.trait.subview.html'">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="button" ui-sref="professions.list" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-success">{{vm.profession._id ? 'Update' : 'Create'}}</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
