<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section>
  <div class="page-header">
    <h1>{{vm.race._id ? 'Edit Race' : 'New Race'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.raceForm" class="form-horizontal" ng-submit="vm.save(vm.form.raceForm.$valid)" novalidate>
      <fieldset>

        <!-- Basics -->
        <h4>Race Information</h4>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label" for="vm.race.name">Name</label>
            <input name="enabled"
                  type="text"
                  ng-model="vm.race.name"
                  class="form-control"
                  ng-click="$event.stopPropagation()"
                  required>
          </div>

          <!-- Racial Skill Proficiencies -->
          <div class="col-sm-offset-3 col-sm-2">
            <label class="control-label"># Skill Proficiencies</label>
             <div class="input-group">
               <span class="input-group-btn">
                 <button type="button"
                     ng-disabled="vm.race.numSkillProficiencies === 0"
                     ng-click="vm.race.numSkillProficiencies = vm.race.numSkillProficiencies - 1"
                     class="btn btn-default" ><i class="fa fa-minus"></i></button>
               </span>
               <input type="number"
                     ng-model="vm.race.numSkillProficiencies"
                     class="text-center att-entry form-control"></input>
               <span class="input-group-btn">
                 <button type="button"
                     ng-click="vm.race.numSkillProficiencies = vm.race.numSkillProficiencies + 1"
                     class="btn btn-default" ><i class="fa fa-plus"></i></button>
               </span>
             </div>
         </div>
        </div>

        <div class="row">
          <div class="col-sm-10">
            <label class="control-label" for="vm.race.description">Race Description</label>
            <textarea name="enabled" ng-model="vm.race.description" class="form-control" required
                ng-click="$event.stopPropagation()"
                pleaceholder="Enter some information about this race (used in the Help Area for Character Creation)">
            </textarea>
          </div>
        </div>
        <hr>

        <!-- ToDo: improve this-->
        <h4>Ability Increases</h4>
        <div class="row"
          ng-click="$event.stopPropagation()">
          <div class="col-xs-3">
            <b>STR</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Strength">
          </div>
          <div class="col-xs-3">
            <b>DEX</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Dexterity">
          </div>
          <div class="col-xs-3">
            <b>CON</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Constitution">
          </div>
          <div class="col-xs-3">
            <b>Choice</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Choice">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>INT</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Intelligence">
          </div>
          <div class="col-xs-3">
            <b>WIS</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Wisdom">
          </div>
          <div class="col-xs-3">
            <b>CHA</b>
            <input class="form-control att-entry" type="number" ng-model="vm.race.abilityIncreases.Charisma"></input>
          </div>
        </div>
        <hr>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.race._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
