<section>
  <div class="page-header">
    <h1>{{vm.background._id ? 'Edit Background' : 'New Background'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.backgroundForm" class="form-horizontal" ng-submit="vm.save(vm.form.backgroundForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.background.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.backgroundForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Background name is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea type="text" ng-model="vm.background.description" class="form-control" placeholder="Background description" required>
          </textarea>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="dropdown" dropdown>
              <button type="button" class="btn btn-default" dropdown-toggle>
                Add Skill Proficiency Option <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="skill in vm.skillsAvailable">
                    <a href ng-click="vm.addSkill(skill)">{{skill}}</a></li>
                </ul>
            </div>
          </div>
          <div class="col-sm-9">
            <button type="button" class="btn btn-default" ng-click="vm.background.specifications.push('')">Add Specification</button>
            <button type="button" class="btn btn-default" ng-click="vm.background.traits.push('')">Add Trait</button>
            <button type="button" class="btn btn-default" ng-click="vm.background.ideals.push('')">Add Ideal</button>
            <button type="button" class="btn btn-default" ng-click="vm.background.bonds.push('')">Add Bond</button>
            <button type="button" class="btn btn-default" ng-click="vm.background.flaws.push('')">Add Flaw</button>
          </div>
        </div>
        <br>

        <div class="row" ng-show="vm.background.specifications.length > 0">
          <h4><span class="glyphicon glyphicon-eye-open can-select"
                ng-class="{'glyphicon-eye-open': !isHidden['specifications'],
                           'glyphicon-eye-close': isHidden['specifications']}"
                ng-click="isHidden['specifications'] = !isHidden['specifications']"></span> Specifications</h4>
            <p class="input-group">
              <span class="input-group-addon">Specification Type</span>
              <input type="text" ng-model="vm.background.specification" class="form-control">
            </p>
          <div ng-if="!isHidden['specifications']" ng-repeat="specification in vm.background.specifications track by $index">
            <p class="input-group">
              <span class="input-group-addon" ng-bind="$index+1"></span>
              <input type="text" ng-model="vm.background.specifications[$index]" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.background.specifications.splice($index, 1)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </span>
            </p>
          </div>
        </div>

        <div class="row" ng-show="vm.background.traits.length > 0">
          <h4><span class="glyphicon glyphicon-eye-open can-select"
                ng-class="{'glyphicon-eye-open': !isHidden['traits'],
                           'glyphicon-eye-close': isHidden['traits']}"
                ng-click="isHidden['traits'] = !isHidden['traits']"></span> Traits</h4>
          <div ng-if="!isHidden['traits']" ng-repeat="trait in vm.background.traits track by $index">
            <p class="input-group">
              <span class="input-group-addon" ng-bind="$index+1"></span>
              <input type="text" ng-model="vm.background.traits[$index]" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.background.traits.splice($index, 1)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </span>
            </p>
          </div>
        </div>

        <div class="row" ng-show="vm.background.ideals.length > 0">
          <h4><span class="glyphicon glyphicon-eye-open can-select"
                ng-class="{'glyphicon-eye-open': !isHidden['ideals'],
                           'glyphicon-eye-close': isHidden['ideals']}"
                ng-click="isHidden['ideals'] = !isHidden['ideals']"></span> Ideals</h4>
          <div ng-if="!isHidden['ideals']"  ng-repeat="ideal in vm.background.ideals track by $index">
            <p class="input-group">
              <span class="input-group-addon" ng-bind="$index+1"></span>
              <input type="text" ng-model="vm.background.ideals[$index]" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.background.ideals.splice($index, 1)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </span>
            </p>
          </div>
        </div>

        <div class="row" ng-show="vm.background.bonds.length > 0">
          <h4><span class="glyphicon glyphicon-eye-open can-select"
                ng-class="{'glyphicon-eye-open': !isHidden['bonds'],
                           'glyphicon-eye-close': isHidden['bonds']}"
                ng-click="isHidden['bonds'] = !isHidden['bonds']"></span> Bonds</h4>
          <div ng-if="!isHidden['bonds']" ng-repeat="bond in vm.background.bonds track by $index">
            <p class="input-group">
              <span class="input-group-addon" ng-bind="$index+1"></span>
              <input type="text" ng-model="vm.background.bonds[$index]" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.background.bonds.splice($index, 1)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </span>
            </p>
          </div>
        </div>

        <div class="row" ng-show="vm.background.flaws.length > 0">
          <h4><span class="glyphicon glyphicon-eye-open can-select"
                ng-class="{'glyphicon-eye-open': !isHidden['flaws'],
                           'glyphicon-eye-close': isHidden['flaws']}"
                ng-click="isHidden['flaws'] = !isHidden['flaws']"></span> Flaws</h4>
          <div ng-if="!isHidden['flaws']" ng-repeat="flaw in vm.background.flaws track by $index">
            <p class="input-group">
              <span class="input-group-addon" ng-bind="$index+1"></span>
              <input type="text" ng-model="vm.background.flaws[$index]" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.background.flaws.splice($index, 1)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </span>
            </p>
          </div>
        </div>

        <div class="row" ng-show="vm.background.skillProficiencies.length > 0">
          <h4>Skill Proficiencies</h4>
          <div class="col-xs-10">
            <span class="proficiency-tag" ng-repeat="skill in vm.background.skillProficiencies">
              {{skill}} <a href ng-click="vm.removeSkillProficiency(skill)" class="glyphicon glyphicon-remove-circle"></a>
            </span></p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.background._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
