<!-- Proficiencies -->
<div class="list-group">
  <div class="row list-group-item">
    <div class="col-xs-3"><b>Attribute</b></div>
    <div class="col-xs-3"><b>Save Mod</b></div>
    <div class="col-xs-offset-2 col-xs-4"><b>Skills</b></div>
  </div>

  <div ng-repeat="attribute in vm.skills" class="row list-group-item">
    <div class="col-sm-3" ng-bind="attribute.name"></div>
    <div class="col-sm-3" ng-bind="vm.getSaveMod(attribute.name)"></div>
    <div class="col-sm-6">
      <div ng-repeat="skill in attribute.skills" class="row">
        <div class="col-xs-2">
          <input type="checkbox"
            ng-model="attsEnabled[skill]"
            ng-if="vm.character.playableClass[0].profession.skillProficiencies.indexOf(skill) > -1"
            ng-disabled="vm.character.skills.indexOf(skill) === -1 && vm.character.skills.length >= vm.character.playableClass[0].profession.numSkillProficiencies"
            ng-click="vm.toggleProficiency(skill)">
        </div>
        <div class="col-xs-2">({{vm.getSkillMod(skill, attribute.name)}})</div>
        <div class="col-xs-8 check-no-margin">{{skill}}</div>
      </div>
    </div>
  </div>
</div>
