<!-- Proficiencies -->
<div class="list-group">
  <div class="row list-group-item">
    <div class="col-xs-3">
      <b>Attribute</b>
    </div>
    <div class="col-xs-3">
      <b>Save Mod</b>
    </div>
    <div class="col-xs-4">
      <b>Skills</b>
    </div>
    <div class="col-xs-2">
      <b>Proficiency</b>
    </div>
  </div>

  <div class="row list-group-item">
    <div class="col-xs-3">
      Strength
    </div>
    <div class="col-xs-3">
      {{vm.getSaveMod('Strength')}}
    </div>
    <div class="col-xs-1 text-center">
      <div><input type="checkbox"> </div>
    </div>
    <div class="col-xs-1">
      <div>({{vm.getSaveMod('Strength')}})</div>
    </div>
    <div class="col-xs-4">
       <div>Athletics</div>
    </div>
  </div>

  <div class="row list-group-item">
    <div class="col-xs-3">
      Dexterity
    </div>
    <div class="col-xs-3">
      {{vm.getSaveMod('Dexterity')}}
    </div>
    <div class="col-xs-1 text-center">
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
    </div>
    <div class="col-xs-1">
      <div>({{vm.getSaveMod('Dexterity')}})</div>
      <div>({{vm.getSaveMod('Dexterity')}})</div>
      <div>({{vm.getSaveMod('Dexterity')}})</div>
    </div>
    <div class="col-xs-4">
       <div>Acrobatics</div>
       <div>Sleight of Hand</div>
       <div>Stealth</div>
    </div>
  </div>

  <div class="row list-group-item">
    <div class="col-xs-3">
      Constitution
    </div>
    <div class="col-xs-3">
      {{vm.getSaveMod('Constitution')}}
    </div>
    <div class="col-xs-4">
    </div>
  </div>

  <div class="row list-group-item">
    <div class="col-xs-3">
      Intelligence
    </div>
    <div class="col-xs-3">
      {{vm.getSaveMod('Intelligence')}}
    </div>
    <div class="col-xs-1 text-center">
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
    </div>
    <div class="col-xs-1">
      <div>({{vm.getSaveMod('Intelligence')}})</div>
      <div>({{vm.getSaveMod('Intelligence')}})</div>
      <div>({{vm.getSaveMod('Intelligence')}})</div>
      <div>({{vm.getSaveMod('Intelligence')}})</div>
      <div>({{vm.getSaveMod('Intelligence')}})</div>
    </div>
    <div class="col-xs-4">
       <div>Arcana</div>
       <div>History</div>
       <div>Investigation</div>
       <div>Nature</div>
       <div>Religion</div>
    </div>
  </div>

  <div class="row list-group-item">
    <div class="col-xs-3">
      Wisdom
    </div>
    <div class="col-xs-3">
      {{vm.getSaveMod('Wisdom')}}
    </div>
    <div class="col-xs-1 text-center">
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
    </div>
    <div class="col-xs-1">
      <div>({{vm.getSaveMod('Wisdom')}})</div>
      <div>({{vm.getSaveMod('Wisdom')}})</div>
      <div>({{vm.getSaveMod('Wisdom')}})</div>
      <div>({{vm.getSaveMod('Wisdom')}})</div>
      <div>({{vm.getSaveMod('Wisdom')}})</div>
    </div>
    <div class="col-xs-4">
       <div>Animal Handling</div>
       <div>Insight</div>
       <div>Medicine</div>
       <div>Perception</div>
       <div>Survival</div>
    </div>

  </div>

  <div class="row list-group-item">
    <div class="col-xs-3">
      Charisma
    </div>
    <div class="col-xs-3">
      {{vm.getSaveMod('Charisma')}}
    </div>
    <div class="col-xs-1 text-center">
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
      <div><input type="checkbox"> </div>
    </div>
    <div class="col-xs-1">
      <div>({{vm.getSaveMod('Charisma')}})</div>
      <div>({{vm.getSaveMod('Charisma')}})</div>
      <div>({{vm.getSaveMod('Charisma')}})</div>
      <div>({{vm.getSaveMod('Charisma')}})</div>
    </div>
    <div class="col-xs-4 check-no-margin">
       <div><input type="checkbox"> Deception</div>
       <div><input type="checkbox"> Intimidation</div>
       <div><input type="checkbox"> Performance</div>
       <div><input type="checkbox"> Persuasion</div>
    </div>
  </div>
</div>
