<div class="row">
  <div class="col-sm-4"><b>Name</b></div>
  <div class="col-sm-3"><b>Type</b></div>
  <div class="col-sm-3"><b>Raw Value</b></div>
</div>

<div class="list-group">
  <div ng-repeat="item in vm.items" class="row list-group-item">
    <div class="col-sm-4">
      {{item.name}}
    </div>
    <div class="col-sm-3" ng-bind="item.classification"></div>
    <div class="col-sm-3">{{item.price}} riphons</div>
    <div class="col-sm-1" ng-click="vm.infoItem = item">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </div>
    <div class="col-sm-1" ng-click="vm.toggleItem(item)">
      <span class="glyphicon"
      ng-class="{'glyphicon-minus-sign': vm.character.items.indexOf(item) > -1,
                 'glyphicon-plus-sign': vm.character.items.indexOf(item) === -1,
                 'insufficient-funds': vm.character.items.indexOf(item) === -1 && (vm.character.funds - item.price) < 0,
                 'can-select': (vm.character.funds - item.price) >= 0 || vm.character.items.indexOf(item) > -1}"
      aria-hidden="true"></span>
    </div>
  </div>
</div>
