<div class="row">
  <div class="form-group col-md-10" show-errors>
    <label class="control-label" for="name">Character's Name</label>
    <input name="name" type="text" ng-model="vm.character.name" id="name" class="form-control" placeholder="Name" required>
    <div ng-messages="vm.form.characterForm.name.$error" role="alert">
      <p class="help-block error-text" ng-message="required">Character name is required.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <label class="control-label">Character Race</label>
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default" dropdown-toggle>
        {{vm.character.race.name}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="race in vm.playableRaces">
            <a href ng-click="vm.character.race = race">{{race.name}}</a>
          </li>
        </ul>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-4">
      <div class="form-group" show-errors>
          <label class="control-label" for="playableClass">Character Class</label>
          <div class="dropdown" dropdown>
            <button type="button" class="btn btn-default" dropdown-toggle>
              {{vm.character.playableClass[0].name}} <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="prof in vm.playableClasses">
                  <a href ng-click="vm.character.playableClass[0] = prof">{{prof.name}}</a>
                </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-10" show-errors>
      <label class="control-label" for="appearance">Character Appearance</label><br />
    <textarea name="appearance" type="text" ng-model="vm.character.background.appearance" id="appearance" class="form-control" placeholder="Character Appearance"></textarea>
  </div>
</div>
