<div class="row">
  <div class="form-group col-md-10" show-errors>
    <label class="control-label" for="name">Character's Name</label>
    <input name="name" type="text" ng-model="vm.character.name" id="name" class="form-control" placeholder="Name" required>
    <div ng-messages="vm.form.characterForm.name.$error" role="alert">
      <p class="help-block error-text" ng-message="required">Character name is required.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="form-group" show-errors>
        <label class="control-label" for="race">Characer's Race</label><br />
        <select class="form-control" name="race" ng-model="vm.character.race" required>
            <option ng-repeat="c in vm.config.races" value="{{c.name}}">{{c.name}}</option>
        </select>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-4">
      <div class="form-group" show-errors>
          <label class="control-label" for="playableClass">Character Class</label><br />
          <select class="form-control" name="playableClass" ng-model="vm.character.playableClass" required>
              <option ng-repeat="c in vm.config.classes" value="{{c.name}}">{{c.name}}</option>
          </select>
      </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-10" show-errors>
      <label class="control-label" for="appearance">Character Appearance</label><br />
    <textarea name="appearance" type="text" ng-model="vm.character.background.appearance" id="appearance" class="form-control" placeholder="Character Appearance"></textarea>
  </div>
</div>
