<div class="form-group row">
    <h3>Attributes</h3>
    <div class="col-sm-2 text-center">STR <br />
        <input name="Strength"
                type="number"
                ng-model="vm.character.attributes.strength"
                class="form-control att-entry" required
                ng-init="vm.character.attributes.strength=10">
    </div>
    <div class="col-sm-2 text-center">DEX <br />
        <input name="Dexterity"
                type="number"
                ng-model="vm.character.attributes.dexterity"
                class="form-control att-entry" required
                ng-init="vm.character.attributes.dexterity=10">
    </div>
    <div class="col-sm-2 text-center">CON<br />
        <input name="Constitution"
                type="number"
                ng-model="vm.character.attributes.constitution"
                class="form-control att-entry" required
                ng-init="vm.character.attributes.constitution=10">
    </div>
    <div class="col-sm-2 text-center">INT<br />
        <input name="Intelligence"
                type="number"
                ng-model="vm.character.attributes.intelligence"
                class="form-control att-entry" required
                ng-init="vm.character.attributes.intelligence=10">
    </div>
    <div class="col-sm-2 text-center">WIS<br />
        <input name="Wisdom"
                type="number"
                ng-model="vm.character.attributes.wisdom"
                class="form-control att-entry" required
                ng-init="vm.character.attributes.wisdom=10">
    </div>
    <div class="col-sm-2 text-center">CHA<br />
        <input name="Charisma"
                type="number"
                ng-model="vm.character.attributes.charisma"
                class="form-control att-entry" required
                ng-init="vm.character.attributes.charisma=10">
    </div>
</div>

<!-- Proficiencies -->
<div class="row">
    <h3>Proficiencies</h3>
    <h4>Saves</h4>
    <h4>Skills</h4>
</div>
