<section ng-controller="HomeController">
  <div class="visible-lg" >
    <div class="left-panel">
      <img alt="Consultants and Dragons" class="img-responsive text-center" src="modules/core/client/img/brand/cndemblem.png" />
    </div>
    <div class="right-panel" style="margin-top: 64px;">
      <div ng-include="'modules/core/client/views/landing.client.view.html'"></div>
    </div>
  </div>
  <div class="hidden-lg">
    <div ng-include="'modules/core/client/views/landing.client.view.html'"></div>
  </div>

</section>
