<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/cndemblem.png" />
      </div>
    </div>
    <br>
    <div class="row" ng-if="!authentication.user" >
      <p>
        <a class="btn btn-primary btn-lg" href="authentication/signup" target="_blank">Enlist</a>
      </p>
    </div>
  </div>
</section>
