<div class="row">
  <div class="col-md-10">
    <div ng-if="authentication.user">
      <h1>Welcome, {{authentication.user.firstName}} {{authentication.user.lastName}}</h1>
      <p>Messages that pertain to you, such as level ups, rewards granted, and new episodes will show up here.</p>
    </div>
    <div ng-if="!authentication.user">
      <h1>Welcome to the Kingdom of Iuria</h1>
      <p>Welcome to the main site for the Tolmea Campaign Setting as well as Consultants and Dragons. Here you can <a class="can-select" ui-sref="authentication.signup">enlist</a> to  join the Consultants and Dragons adventurer's guild or browse in game news and view information about the Campaign Setting. Once enlisted, you can create a character sheet and participate in out-of-session events with your character and the Dungeon Master.</p>
    </div>
    <hr>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-10">
    <h2>Latest News</h2>
    <div ng-repeat="article in news|limitTo:3">
      <h4><a class="can-select" href="/news/{{article._id}}">{{article.title}}</a></h4>
      <p>{{article.content}}</p>
      <hr>
    </div>
  </div>
</div>
