.att2-entry {
    width:100%;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.well {
  margin-top: 0;
  padding-top: 0;
  padding-left: 32px;
  padding-right: 32px;
  text-align: justify;
}

.well  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.glyphicon:hover {
  color: #f71;
  cursor: pointer;
}
