<section>
  <div class="page-header">
    <div class="pull-right">
      <button type="button" class="btn btn-primary" data-ui-sref="feats.create">
          <i class="glyphicon glyphicon-pencil"></i> Create a New Feat</button>
    </div>
    <h1>Backgrounds</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="feat in vm.feats"
       data-ui-sref="feats.edit({ featId: feat._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="feat.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.feats.$resolved && !vm.feats.length">
    No Feats have been created yet.
  </div>
</section>
