<section>
    <div class="col-sm-7">
        <h2 class="text-center">List of Sessions</h3>

        <div class="row">
            <b>
                <div class="col-sm-6">
                    Selected Contract
                </div>
                <div class="col-sm-2">
                    Max Profit
                </div>
                <div class="col-sm-2">
                    Slots Left
                </div>
                <div class="col-sm-2">
                    Date
                </div>
            </b>
        </div>
        <div ng-repeat="c in vm.sessions"
                class="row row-hover" >
            <div>
                <div class="col-sm-6">
                    {{c.title}}
                </div>
                <div class="col-sm-2">
                    Profit
                </div>
                <div class="col-sm-2">
                    2
                </div>
                <div class="col-sm-2">
                    3/9/2016
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-sm-offset-1">
        Nothing over here
    </div>
</section>
