<div class="row">
  <div class="col-md-4">
    <label class="control-label">Search Query</label>
    <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search for spells" ng-change="vm.determineDisplayed()" />
  </div>

  <!-- Archetype Selector -->
  <div class="col-md-6">
    <label class="control-label">Add Spells to...</label>
    <div class="dropdown" dropdown>
      <button type="button" class="btn btn-default" dropdown-toggle>
        {{vm.profession.archetypes[vm.chosenArchetype].title}} Archetype<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="archetype in vm.profession.archetypes">
            <a href ng-click="vm.chosenArchetype = $index">{{archetype.title}}</a>
          </li>
        </ul>
    </div>
  </div>
</div>
<br>

<div class="list-group">
  <div ng-repeat="item in vm.pagedItems" class="row list-group-item">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-plus-sign can-select" ng-click="vm.addSpell(item)" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3" ng-bind="item.name"></div>
    <div class="col-xs-2">Level {{item.level ? item.level : 0}}</div>
    <div class="col-xs-3">{{item.school ? 'School of ' + item.school : 'Universal'}}</div>
    <div class="col-xs-2">{{item.target ? item.target : 'Unknown Target'}}</div>
    <div class="pull-right">
      <span class="glyphicon glyphicon-info-sign can-select" aria-hidden="true"></span>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center">
  <pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
</div>
