<div class="form-group" show-errors>
  <div class="row">
    <div class="col-md-6">
      <h3>Available Races</h3>
    </div>
    <div class="col-md-offset-2 col-md-2">
      <button type="button" ng-click="vm.addRace()" class="btn btn-default">Add Race</button>
    </div>
  </div>
  <hr style="padding-bottom: 0px; margin-bottom: 0px;"/>
  <div ng-repeat="c in vm.configuration.races"  ng-click="vm.toggleRaceVisibility($index)">

      <div class="row">
        <div class="col-sm-5">
          <label class="control-label" for="c.name">Name</label>
          <input name="enabled"
                type="text"
                ng-model="c.name"
                class="form-control"
                ng-click="$event.stopPropagation()"
                required>
        </div>
        <div class="col-sm-offset-5 col-sm-1">
          <span class="glyphicon {{raceHidden[$index] ? 'glyphicon-chevron-down' : 'glyphicon-chevron-left'}}" aria-hidden="true"></span>
        </div>
      </div>

      <div class="row" ng-class="{'collapsed-entry': raceHidden[$index], 'expanded-entry': !raceHidden[$index] }">
        <div class="col-sm-10">
          <label class="control-label" for="c.description">Race Description</label>
          <textarea name="enabled" ng-model="c.description" class="form-control" required
              ng-click="$event.stopPropagation()"
              pleaceholder="Enter some information about this race (used in the Help Area for Character Creation)">
          </textarea>
        </div>
      </div>
      <hr style="padding-bottom: 0px; margin-bottom: 0px;"/>

  </div>
</div>
