<div class="form-group" show-errors>
  <label class="control-label" for="races">Available Races</label>
  <button type="button" ng-click="vm.addRace()" class="btn btn-default">Add Race</button>
  <div ng-repeat="c in vm.configuration.races">
    <div class="row">
      <div class="col-sm-5">
        <label class="control-label" for="c.name">Name</label>
        <input name="enabled" type="text" ng-model="c.name" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label class="control-label" for="c.description">Race Description</label>
        <textarea name="enabled" ng-model="c.description" class="form-control" required
          pleaceholder="Enter some information about this race (used in the Help Area for Character Creation)">
        </textarea>
      </div>
    </div>
  </div>
</div>
