<section>
  <div class="page-header">
    <h1>{{vm.episode._id ? 'Edit Episode' : 'New Episode'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.episodeForm" class="form-horizontal" ng-submit="vm.save(vm.form.episodeForm.$valid)" novalidate>
      <fieldset>

        <div class="row">
          <div class="col-md-3 form-group" show-errors>
            <label for="sessionDate">Session Date</label>
            <p class="input-group">
              <input datepicker-popup
                    type="text"
                    id="sessionDate"
                    ng-model="vm.episode.sessionDate"
                    is-open="calendar.opened"
                    class="form-control">
              <span class="input-group-btn" />
                <button type="button" class="btn btn-default" ng-click="openCalendar()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>

          <div class="col-md-offset-1 col-md-1">
            <label for="maxAttendees">Players</label>
            <input type="number"
              ng-model="vm.episode.maxAttendees"
              id="maxAttendees"
              class="form-control att-entry">
          </div>

          <div class="col-md-offset-1 col-sm-3">
            <span class="glyphicon glyphicon-check can-select"
                  ng-click="vm.episode.isOpen = !vm.episode.isOpen"
                  ng-class="{'glyphicon-unchecked': !vm.episode.isOpen,
                            'glyphicon-check': vm.episode.isOpen}">
            </span> Enable Attendance
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label">Episode Summary</label><br />
            <textarea type="text" ng-model="vm.episode.summary" class="form-control" placeholder="Enter a brief episode summary"></textarea>
          </div>
        </div>

        <h3>Contracts</h3>
        <div class="row">
          <div class="col-sm-1">
              <label class="control-label">Enabled</label>
          </div>
          <div class="col-sm-4">
              <label class="control-label">Name</label>
          </div>
          <div class="col-sm-3">
              <label class="control-label">Max Profit</label>
          </div>
          <div class="col-sm-3">
              <label class="control-label">Votes</label>
          </div>
        </div>
        <br/>

        <div ng-repeat="contract in vm.formEnabledContracts" class="row">
          <div class="col-sm-1">

            <!-- Enabled Contract -->
            <div ng-if="vm.contractIsEnabled(contract)">
                <span class="glyphicon glyphicon-check can-select" ng-click="vm.removeContract(contract)"></span>
            </div>

            <!-- Not Enabled -->
            <div ng-if="!vm.contractIsEnabled(contract)">
              <span class="glyphicon glyphicon-unchecked can-select" ng-click="vm.episode.contracts.push(contract)"></span>
            </div>
          </div>
          <div class="col-sm-4">
            {{contract.name}}
          </div>
          <div class="col-sm-3">
            {{contract.voters.length}}
          </div>
        </div>
        <hr/>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.episode._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
