<h3>Contracts</h3>
<div ng-show="vm.isUserPlaying() && vm.getPlayerVotedContract()">
  <p>You have voted for <b>"{{vm.getPlayerVotedContract().name}}</b>".</p>
</div>
<div ng-show="vm.episode.contracts.length > 0">
  <div ng-repeat="contract in vm.formEnabledContracts"
        class="well sm-well"
        ng-click="vm.voteFor($index)">
    <div class="row">
      <h4 class="col-md-8" ng-bind="contract.name"></h4>
    </div>
    <p><i ng-bind="contract.details"></i></p>
    <div class="row"><b>
      <div class="col-sm-2">Reward</div>
      <div class="col-sm-8">Condition</div></b>
    </div>
    <div ng-repeat="reward in contract.rewards" class="row">
      <div class="col-sm-2">{{reward.amount}} {{reward.unit}}</div>
      <div class="col-sm-8" ng-bind="reward.condition"></div>
    </div>
    <br>
    There are a total of <b>{{contract.voters.length}} votes</b> for this contract.
  </div>
</div>
<div ng-show="!vm.episode.contracts || vm.episode.contracts.length == 0">
  Contracts have not been assigned for this episode.
</div>
