<h3>Contracts</h3>
<link rel="stylesheet" href="modules/episodes/client/css/contracts.css" />

<div ng-show="vm.isUserPlaying() && vm.getPlayerVotedContract()">
  <p>You have voted for <b>"{{vm.getPlayerVotedContract().name}}</b>".</p>
</div>

<div ng-show="vm.episode.contracts.length > 0">
  <div ng-repeat="contract in vm.episode.contracts"
        ng-class="vm.getPlayerVotedContract()._id === contract._id ? 'voted-contract' : 'regular-contract'"
        ng-click="vm.voteFor($index)">

    <contract-display
      player="{{vm.authentication.user._id}}"
      character="{{vm.chosenCharacter._id}}"
      episode="vm.episode"
      contract="contract">
    </contract-display>
  </div>
</div>
<div ng-show="!vm.episode.contracts || vm.episode.contracts.length == 0">
  Contracts have not been assigned for this episode.
</div>
