<section>
  <div class="page-header">
    <h1>Session on {{vm.episode.sessionDate | date: 'MM/dd/yy'}}</h1>
  </div>
  <div class="pull-right" ng-show="vm.authentication.user.roles.indexOf('admin') > -1">
    <a class="btn btn-primary"
       data-ui-sref="episodes.edit({ episodeId: vm.episode._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" data-ng-bind="vm.episode.content"></p>
</section>
