<section>
  <div class="page-header">
    <h1>Session on {{vm.episode.sessionDate | date: 'MM/dd/yy'}}</h1>
  </div>
  <div class="pull-right" ng-show="vm.authentication.user.roles.indexOf('admin') > -1">
    <a class="btn btn-primary"
       data-ui-sref="episodes.edit({ episodeId: vm.episode._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <!-- Player Signup -->
  <div class="form-group">
    <label class="control-label">Character Selection</label><br />
    <div class="row">

      <div ng-if="vm.episode.isOpen">
        <div class="col-md-4">
          <div class="dropdown" dropdown>
            <button type="button" class="btn btn-default" dropdown-toggle>
              Select Player<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="pc in vm.playerCharacters">
                  <a href ng-click="vm.chosenCharacter = pc">{{pc.name}}</a></li>
              </ul>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-default" ng-click="vm.toggleAttendance()">
            {{ vm.isUserPlaying() ? 'I will not attend' : 'I will attend' }}
          </button>
        </div>
      </div>

      <div ng-if="!vm.episode.isOpen">
        <div class="col-md-10">
          <p>You cannot sign up for this session because it is locked.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h3>Attendees</h3>
  <div ng-show="!vm.episode"><i>Loading...</i></div>
  <div ng-show="vm.episode.attendees">
    <div ng-show="vm.episode.attendees.length === 0">
      <p>There are no players signed up currently.</p>
    </div>
    <div ng-show="vm.episode.attendees.length > 0">
      <div ng-repeat="c in vm.episode.attendees">
        {{$index + 1}}. {{c.user.firstName}} {{c.user.lastName}} as {{c.character.name}}
      </div>
    </div>
  </div>
  <br>
  <p>There are <b>{{vm.episode.maxAttendees - vm.episode.attendees.length}} open player slots</b> remaining for this session.</p>
  <hr>

<div ng-include="'modules/episodes/client/views/view-episode.contracts.client.view.html'"></div>
</section>
