<section>
  <div class="page-header">
    <h1>Session on {{vm.episode.sessionDate | date: 'MM/dd/yy'}}</h1>
  </div>
  <div class="pull-right" ng-show="vm.authentication.user.roles.indexOf('admin') > -1">
    <a class="btn btn-primary"
       data-ui-sref="episodes.edit({ episodeId: vm.episode._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" data-ng-bind="vm.episode.content"></p>

  <h3 ng-show="vm.episode.contracts.length > 0">Contracts</h3>
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <b>Contract Name</b>
    </div>

    <div class="col-md-offset-1 col-md-2">
      <b>Max Profit</b>
    </div>

    <div class="col-md-1">
      <b>Votes</b>
    </div>
  </div>

  <div ng-repeat="contract in vm.formEnabledContracts" class="row">
  <div class="col-md-1">
    <button>Vote</button>
  </div>
    <div class="col-md-5">
      {{contract.name}}
    </div>

    <div class="col-md-offset-1 col-md-2">
      {{vm.sumRewards(contract)}}
    </div>

    <div class="col-md-1">
      {{contract.voters.length}}
    </div>
  </div>
</section>
