<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <div class="pull-right" ng-show="authentication.user.roles.indexOf('admin') > -1">
      <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>

    <h1 ng-bind="article.title"></h1>
    <small>
      <em class="text-muted">
        Posted by
        <span ng-bind="article.author"></span>
      </em>
    </small>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p class="line-breaker" ng-bind="article.content"></p>
    </div>

    <!-- Comments -->
    <div class="col-md-4 well" ng-if="article.$resolved && (authentication.user.roles.indexOf('consultant') > -1 || authentication.user.roles.indexOf('admin') > -1)">
      <span class="text-center"><u><h4>Comments</h4></u></span>
      <comment-container user="{{authentication.user}}" private="false" context="article"></comment-container>
    </div>
  </div>


</section>
