<div class="col-xs-12 well">
  <!-- Contract Name and voter -->
  <h4>
    <span ng-if="vm.canVote()" tooltip="Vote for Contract: {{contract.name}}">
      <!-- Enabled Contract -->
      <span ng-if="vm.playerVoted()"
          class="glyphicon glyphicon-check can-select">
      </span>

      <!-- Not Enabled -->
      <span ng-if="!vm.playerVoted()"
            class="glyphicon glyphicon-unchecked can-select"
            ng-click="vm.castVote()">
      </span>
    </span>
    {{vm.contract.name}}
  </h4>

  <!-- Information -->
  <p><b>Client:</b>  {{vm.contract.client}}</p>
  <p><i ng-bind="vm.contract.details"></i></p>
  <div class="row"><b>
    <div class="col-sm-2 col-xs-5">Reward</div>
    <div class="col-sm-10 col-xs-7">Condition</div></b>
  </div>

  <!-- Rewards Table-->
  <div ng-repeat="reward in vm.contract.rewards" class="row">
    <div class="col-sm-2 col-xs-5">{{reward.amount}} {{reward.unit}}</div>
    <div class="col-sm-10 col-xs-7" ng-bind="reward.condition"></div>
  </div>
  <br>
  <p>Expected playstyles: <b ng-repeat="style in vm.contract.expectedPlayStyles"> "{{style}}"  </b></p>
  <br>
  There are a total of <b>{{vm.numVoters()}} votes</b> for this contract.
</div>
