<div class="col-xs-12" style="border: solid 0.3px; border-radius: 8px; margin-bottom: 4px;">
  <!-- Contract Name and voter -->
  <h4 style="border-bottom: solid 1px; padding-bottom: 4px;">
    <span ng-if="vm.canVote()" tooltip="Vote for Contract: {{contract.name}}">
      <!-- Enabled Contract -->
      <span ng-if="vm.playerVoted()"
          class="glyphicon glyphicon-check can-select">
      </span>

      <!-- Not Enabled -->
      <span ng-if="!vm.playerVoted()"
            class="glyphicon glyphicon-unchecked can-select"
            ng-click="vm.castVote()">
      </span>
    </span> {{vm.contract.name}}
  </h4>

  <!-- Information -->
  <p><b>Client:</b>  {{vm.contract.client}}</p>
  <p><i ng-bind="vm.contract.details"></i></p>
  <div class="row"><b>
    <div class="col-sm-2 col-xs-5">Reward</div>
    <div class="col-sm-10 col-xs-7">Condition</div></b>
  </div>

  <!-- Rewards Table-->
  <div ng-repeat="reward in vm.contract.rewards" class="row">
    <div class="col-sm-2 col-xs-5">{{reward.amount}} {{reward.unit}}</div>
    <div class="col-sm-10 col-xs-7" ng-bind="reward.condition"></div>
  </div>
  <br>
  <p>Expected playstyles: <span ng-repeat="style in vm.contract.expectedPlayStyles"><span ng-if="$index > 0 && vm.contract.expectedPlayStyles.length > 2 && $index < vm.contract.expectedPlayStyles.length">, </span><span ng-if="$index === vm.contract.expectedPlayStyles.length-1"> and </span> {{style}}</span>
  </p>
  There <span ng-if="vm.numVoters() === 1">is</span><span ng-if="vm.numVoters() !== 1">are</span> a total of <b>{{vm.numVoters()}} votes</b> for this contract.
  <br>
</div>
