<section>
  <div class="input-group">
    <input type="text"
        ng-keydown="$event.keyCode === 13 && vm.postMessage()"
        ng-model="vm.message.contents"
        class="form-control"
        placeholder="Message"></input>
    <div class="input-group-btn">
      <div class="dropdown" dropdown>
        <button type="button" class="btn btn-default" dropdown-toggle>
          <span class="visible-xs">{{character ? character : 'Character'}}</span>
          <span class="hidden-xs">{{character ? character : 'Your Character'}}</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href ng-click="character = 'N/A'">Not Available</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
