<section>
  <div class="page-header">
    <div class="pull-right">
      <button type="button" class="btn btn-primary" data-ui-sref="characters.create">
          <i class="glyphicon glyphicon-pencil"></i> Create a New Character</button>
    </div>
    <h1>Characters</h1>
  </div>
  <div class="list-group">
    <div class="row">
      <div class="col-sm-4"><b>Character Name</b></div>
      <div class="col-sm-2 text-center"><b>Level</b></div>
      <div class="col-sm-2"><b>Class</b></div>
      <div class="col-sm-2"><b>Race</b></div>
      <div class="col-sm-2 text-center"><b>Sessions</b></div>
    </div>
    <a data-ng-repeat="character in vm.characters"
       data-ui-sref="characters.view({ characterId: character._id })"
       class="list-group-item">
      <div class="row">
        <div class="col-sm-4"><b ng-bind="character.name"></b></div>
        <div class="col-sm-2 text-center" ng-bind="character.level"></div>
        <div class="col-sm-2">
          <div ng-repeat="prof in character.playableClass">
            <p>{{prof.profession.name}} {{prof.level}}</p>
          </div>
        </div>
        <div class="col-sm-2" ng-bind="character.race.name"></div>
        <div class="col-sm-2 text-center" ng-bind="character.numSessions"></div>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.characters.$resolved && !vm.characters.length">
    No characters have been created yet.</a>
  </div>
</section>
