<section>
  <div class="page-header">
    <h1>Characters</h1>
  </div>
  <div class="list-group">
    <div class="row">
      <div class="col-sm-4"><b>Character Name</b></div>
      <div class="col-sm-2"><b>Level</b></div>
      <div class="col-sm-2"><b>Class</b></div>
      <div class="col-sm-2"><b>Race</b></div>
      <div class="col-sm-2"><b>Sessions</b></div>
    </div>
    <a data-ng-repeat="character in vm.characters"
       data-ui-sref="characters.view({ characterId: character._id })"
       class="list-group-item">
      <div class="row">
        <div class="col-sm-4"><b ng-bind="character.name"></b></div>
        <div class="col-sm-2" ng-bind="character.level"></div>
        <div class="col-sm-2" ng-bind="character.playableClass"></div>
        <div class="col-sm-2" ng-bind="character.race"></div>
        <div class="col-sm-2" ng-bind="character.numSessions"></div>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.characters.$resolved && !vm.characters.length">
    No Characters yet, why don't you <a data-ui-sref="characters.create">create one</a>?
  </div>
</section>
