<h3>{{vm.name}}</h3>

<div class="row">
  <div class="col-sm-4"><b>Name</b></div>
  <div class="col-sm-3"><b>Type</b></div>
  <div class="col-sm-3"><b>Raw Value</b></div>
</div>

<div class="list-group">
  <div ng-repeat="item in vm.inventory" class="row list-group-item">
    <div class="col-sm-4">
      {{item.name}}
    </div>
    <div class="col-sm-3" ng-bind="item.classification"></div>
    <div class="col-sm-3">{{item.price}} riphons</div>
    <div class="col-sm-1" ng-click="vm.infoItem = item">
      <span class="glyphicon glyphicon-info-sign can-select" aria-hidden="true"></span>
    </div>
    <div class="col-sm-1" ng-click="vm.addItem(item)">
      <span class="glyphicon glyphicon-plus-sign"
        ng-class="{'insufficient-funds': (vm.character.funds - item.price) < 0,
                   'can-select': (vm.character.funds - item.price) >= 0}"
        aria-hidden="true"></span>
    </div>
  </div>
</div>
<div ng-if="vm.infoItem" class="well">
  <div class="row" style="margin-top: 4px; margin-bottom: 0;">
    <div class="col-xs-1 glyphicon glyphicon-info-sign" style="margin-top: 12px"></div>
    <div class="col-xs-11">
      <h5><b>{{vm.infoItem.name}}</b></h5>
      {{vm.infoItem.description}}
    </div>
  </div>
</div>
