<div class="row">
  <div class="col-md-12">
    <label>Background</label>
    <p class="line-breaker" ng-bind="vm.character.background.backstory"><p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Appearance</label>
    <p class="line-breaker" ng-bind="vm.character.background.appearance"><p>
  </div>
</div>
<div class="row" ng-if="vm.character.background.generalization.specification">
  <div class="col-md-12">
    <label ng-bind="vm.character.background.generalization.specification"></label>
    <p ng-bind="vm.character.background.specification"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Trait</label>
    <p ng-bind="vm.character.background.trait"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Ideal</label>
    <p ng-bind="vm.character.background.ideal"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Bond</label>
    <p ng-bind="vm.character.background.bond"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Flaw</label>
    <p ng-bind="vm.character.background.flaw"></p>
  </div>
</div>
