<div class="row">
  <div class="col-md-12">
    <label>Trait</label>
    <p ng-bind="vm.character.background.trait"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Ideal</label>
    <p ng-bind="vm.character.background.ideal"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Bond</label>
    <p ng-bind="vm.character.background.bond"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Flaw</label>
    <p ng-bind="vm.character.background.flaw"></p>
  </div>
</div>
