<div class="col-xs-12">
  <h3>Inventory</h3>
  <div class="list-group" ng-if="vm.character.items.length > 0">
    <div class="row"><b>
      <div class="col-sm-4">Name</div>
      <div class="col-sm-3">Type</div>
      <div class="col-sm-3">Price</div>
    </b></div>
    <div style="overflow: auto; overflow-x: hidden; max-height: 250px;">
      <div class="list-group-item row" ng-repeat="item in vm.character.items track by $index" >
        <div class="col-sm-4" ng-bind="item.name"></div>
        <div class="col-sm-3" ng-bind="item.classification"></div>
        <div class="col-sm-3">{{item.price}} ℝ</div>
        <div class="col-sm-1" ng-click="vm.infoItem = item">
          <span class="glyphicon glyphicon-info-sign can-select" aria-hidden="true"></span>
        </div>
        <div class="col-sm-1" ng-click="vm.removeItem(item)" ng-if="!vm.character._id">
          <span class="glyphicon glyphicon-minus-sign can-select" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div ng-if="vm.infoItem">
    <div class="row">
      <div class="col-xs-1 glyphicon glyphicon-info-sign"></div>
      <div class="col-xs-11">
        <b>{{vm.infoItem.name}}</b>
        <p>{{vm.infoItem.description}}</p>
      </div>
    </div>
</div>
